.months-container {
  list-style: none;
  margin-top: 0;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
}

.title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 8px;
}

.date-item {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  letter-spacing: .04em;
  padding: 16px;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }
}

.border {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  border-color: #D0D0D0;
}

.events-container {
  list-style: none;
  margin-top: 0;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;

  > ul {
    background-color: #FFFFFF;
    list-style: none;
    padding-left: 0;
  }
}

.link {
  text-align: center;
}
