.layout {
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  padding-left: 0;
}

.headline {
  align-content: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.showDialogButton {
  margin: 24px 0 16px;
  text-align: right;
}
