@import "~react-toolbox/lib/colors";

$color-text: $palette-grey-900;
$color-text-secondary: $palette-grey-600;

$color-primary: $palette-brown-500;
$color-primary-dark: $palette-brown-700;
$color-accent: $palette-red-a200;
$color-accent-dark: $palette-red-700;
