.dialog {
  width: 560px;
}

.title {
  font-size: 2.0rem;
}

.textfield {
  width: 100%;
}

.label {
  color: #607D8B;
  font-size: 14px;
}

.status {
  padding: 4px 0;
}

.metric-type {
  padding-bottom: 20px;
}

.metrics {
  padding: 20px 0;
}

.metric-statuses {
  padding-top: 20px;
}
