.item {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  letter-spacing: .04em;
  padding: 16px;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }
}

.item-primary {
  display: block;
  flex-grow: 2;
  font-weight: 500;
}

.item-primary-link {
  text-decoration: none;
}

.item-headline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.update-item {
  margin-top: 10px;
}

.update-item-message {
  color: rgba(0,0,0,.54);
}

.update-item-updatedat {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-weight: 400;
}
