.dialog {
  width: 560px;
}

.title {
  font-size: 2.0rem;
}

.textfield {
  width: 100%;
}

.errorMessage {
  color: #c62828;
}

.forgotPassword {
  text-align: right;
  margin-top: 0px;
  font-size: 12px;
  color: #607d8b;
  cursor: pointer;
}
