.title_service {
  font-weight: 500;
}

.title_status {
  color: rgb(56, 142, 60);
}

.date_item {
  height: auto;
}

.date_item_primary {
  height: auto !important;
}

.border {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  border-color: #E0E0E0;
}
