@import "../../styles/core";

.aside {
  display: flex;
  flex-direction: column;
  width: 16rem;
}

.list {
  box-shadow: $documentation-left-shadow;
  flex-grow: 1;
  overflow-y: auto;
}

.listItem {
  [data-react-toolbox="list-item-text"] {
    font-size: $font-size-big;
  }
}

.active {
  background: $color-divider;
}
