.header {
  z-index: 10;
  margin-left: 0 !important;
  width: 100% !important;
}

.title {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
}

.header-menu {
  display: flex;
  position: absolute;
  right: 40px;
}

.header-menu-item {
  color: #FFFFFF;
  font-weight: 400;
  text-transform: none;
  opacity: 0.87;
  &:hover {
    background-color: rgb(96,125,139);
  }
  padding-left: 32px;
  padding-right: 0px;
}
