.header {
  align-items: center;
  background-color: #388E3C;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: #FFFFFF;
  display: flex;
  height: 64px;
  min-height: 64px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 3;
}

.title {
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
}

.header-menu {
  align-items: center;
  display: flex;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-menu-item {
  padding-left: 32px;
  padding-right: 0;

  > a,
  > span {
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: none;
  }
}

.username {
  align-items: center;
  cursor: pointer;
  display: flex;
}
