.layout {
  display: flex;
  flex-direction: column;

  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tab {
  border-bottom: 1px solid rgba(0,0,0,.12);
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;
  width: 100px;
}

.selected-tab {
  border-bottom: none;
  border-left: 1px solid rgba(0,0,0,.12);
  border-right: 1px solid rgba(0,0,0,.12);
  border-top: 1px solid rgba(0,0,0,.12);
  color: rgba(0,0,0,.54);
}

.unselected-tab {
  color: rgba(0,0,0,.3);
}

.padding {
  border-bottom: 1px solid rgba(0,0,0,.12);
  width: 100%;
}
