.label {
  color: #607D8B;
  font-size: 14px;
}

.dropdown-list {
  padding-bottom: 10px;
  padding-top: 4px;
}

.spinner-box {
  display: flex;
}

.spinner {
  margin: 0 0.25rem;
}

.icon {
  font-size: 12px;
  font-weight: 700;
}
