.layout {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.showDialogButton {
  text-align: right;
}

.incident_item {
  height: auto;
}

.incident_item_content {
  display: flex !important;
}
