.layout {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.link {
  margin: 0 0.25rem;
  color: rgba(0,0,0,.54);
}
