.container {
  padding: 8px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.title {
  margin-bottom: 16px;
  margin-top: 16px;
}

.timeframes {
  float: right;
}

.timeframe {
  color: rgba(0,0,0,.54);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(240, 240, 240);
}

.timeframe-left {
  color: rgba(0,0,0,.54);
}

.timeframe-checked {
  color: rgb(0,0,0);
}
