.tooltip {
  background-color: #777 !important;
  padding: 3px 10px !important;
}

.tooltip::after {
  border-right-color: #777 !important;
}

.link {
  margin: 0 0.25rem;
  color: #e0e0e0;
  pointer-events: auto;
}
