.dates-container {
  list-style: none;
  margin-top: 0;
  padding: 8px;
}

.title {
  margin-bottom: 4px;
  margin-top: 16px;
}

.date-item {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  letter-spacing: .04em;
  padding: 12px;
}

.border {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #E0E0E0;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

.incidents-container {
  padding: 8px;

  > ul {
    background-color: #FFFFFF;
    list-style: none;
    padding-left: 0;
  }
}

.no-incidents {
  color: rgba(0,0,0,.54);
  font-size: 14px;
}
