.date_item {
  height: auto;
}

.date_item_primary {
  height: auto !important;
}

.border {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  border-color: #E0E0E0;
}

.title {
  margin-top: 32px;
  margin-bottom: -8px;
}

.timeframes {
  float: right;
}

.timeframe {
  color: rgba(0,0,0,.54);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(240, 240, 240);
}

.timeframe-left {
  color: rgba(0,0,0,.54);
}

.timeframe-checked {
  color: rgb(0,0,0);
}
