.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.rss-icon {
  border-radius: 20%;
  color: #9E9E9E;

  height: 24px;
  line-height: 24px;
  margin-top: 30px;
}

.mail-icon {
  border-radius: 20%;
  color: #9E9E9E;
  cursor: pointer;

  height: 24px;
  line-height: 24px;
  margin-top: 30px;
}

.dropdown {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  font-size: 14px;
  margin-right: 2px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 56px;
  width: 300px;
  z-index: 5;
}

.subscribe-container {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.input {
  border: 1px solid rgba(0,0,0,.12);
  border-right: 0;
  height: 24px;
  padding-left: 4px;
  width: 100%;
}

.button {
  align-items: center;
  background-color: #388E3C;
  color: #FFF;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 200;
  padding-left: 6px;
  padding-right: 6px;
}

.button-disabled {
  background-color: #BDBDBD;
}

.message-successful {
  color: #388E3C;
  font-weight: 600;
}

.message-failure {
  color: #E53935;
  font-weight: 600;
}
