.dialog {
  width: 600px;
}

.title {
  font-size: 2.0rem;
}

.textfield {
  width: 100%;
}

.label {
  color: rgb(121,85,72);
  font-size: 14px;
}

.incident_status {
  padding: 4px 0;
}

.component_name {
  font-size: 16px;
}

.component_dropdown {
  text-align: right;
}

.components {
  padding: 4px 0;
}

.incident_update_item {
  height: 100%;
}

.incident_update_item_content {
  height: 100% !important;
}
